<h1>Coaching#answer</h1>

<div>
  <p><strong><%= @query %></strong></p>
  <p> - You</p>
</div>

<div>
  <p><%= @answer %></p>
  <p> - Your Coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
